.cajaTitulo {
        border: 1px solid red;
        width: 100%;
        height: auto;
        background-color: firebrick;

        .titulo {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 15px 5px 10px 5px;
            font-size: 60px;
            font-weight: bold;
            font-style: italic;
            animation: animar-texto 2s infinite;
            margin-bottom: 0;
            cursor: pointer;

            @keyframes animar-texto {
                0% {
                    letter-spacing: 0;
                }

                50% {
                    letter-spacing: 5px;
                }

                100% {
                    letter-spacing: 0;
                }
            }

        }

        .slogan {
            display: flex;
            color: beige;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 0px 5px 15px 5px;
            font-size: 30px;
            font-weight: bold;
            font-style: oblique;
            transition: color 0.3s ease;
            cursor: pointer;

            &:hover {
                color: black;
            }
        }
    }