.footer {

    @media (max-width: 575px) {
        justify-content: center;
        text-align: center;
    }

    .logoFooter {
        width: 75px;
        height: auto;
    }

    @media (max-width: 870px) {
        width: 100%;
        height: auto;
        justify-content: center;
        text-align: center;
        font-size: 12px;

        h5 {
            font-size: 15px;
        }
    }
}