@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}


.content {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 199, 199);
    justify-content: center;
    width: 100%;
    height: auto;

    .header {
        width: 100%;
        height: auto;
        background-color: black;
        padding: 5px;

        nav {
            margin: 0;
            padding: 0;
            z-index: 1;
        }

        .navbar {
            width: 100%;
            height: auto;
            background-color: black;

            .contenedor {
                background-color: black;
                width: 100%;
                height: auto;
                list-style: none;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;

                @media (max-width: 1000px) {
                    flex-direction: column;
                    align-items: center;
                }

                .logo {
                    img {
                        width: 100px;
                        height: auto;
                        transition: all 0.3s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }


                .divUl {
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    text-align: center;
                    align-items: center;

                    .divNavbar {
                        display: flex;
                        width: auto;
                        height: auto;
                        flex-flow: row nowrap;

                        @media (max-width: 1000px) {
                            flex-direction: column;
                            align-items: center;
                        }

                        .busqueda {
                            display: flex;
                            width: 100%;
                            height: auto;
                            justify-content: right;
                            align-items: center;

                            .carrito {
                                height: auto;
                                width: 40px;
                                padding: 0 10px;
                            }
                        }
                    }


                    .divLista {
                        width: auto;
                        height: auto;

                        .lista {
                            display: flex;
                            flex-flow: row nowrap;
                            text-align: center;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 100%;
                            height: auto;

                            @media (max-width: 1000px) {
                                flex-direction: column;
                                align-items: center;
                            }

                            .navTitulo {
                                color: beige;
                            }

                            .navLi {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-evenly;
                                align-items: center;
                                transition: all 0.3s;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }

                            .listaInfo {
                                ul {
                                    li {
                                        .itemInfo {
                                            color: black;
                                            transition: all 0.3s;

                                            &:hover {
                                                transform: scale(1.1);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .cajaTitulo {
        border: 1px solid red;
        width: 100%;
        height: auto;
        background-color: firebrick;

        .titulo {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 15px 5px 10px 5px;
            font-size: 60px;
            font-weight: bold;
            font-style: italic;
            animation: animar-texto 2s infinite;
            margin-bottom: 0;
            cursor: pointer;

            @keyframes animar-texto {
                0% {
                    letter-spacing: 0;
                }

                50% {
                    letter-spacing: 5px;
                }

                100% {
                    letter-spacing: 0;
                }
            }

        }

        .slogan {
            display: flex;
            color: beige;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 0px 5px 15px 5px;
            font-size: 30px;
            font-weight: bold;
            font-style: oblique;
            transition: color 0.3s ease;
            cursor: pointer;

            &:hover {
                color: black;
            }
        }
    }

    main {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding: 15px;
    }

    .paresDestacados {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .carousel {
        width: 50%;
        height: auto;
        margin: 10px auto;

        .carousel-item {
            width: 100%;
            height: auto;

            .producto {
                margin: 0 auto;
                width: 70%;
                max-width: none;
                min-width: 100%;
                display: inline;

                @media all and (max-width: 450px) {
                    .producto {
                        width: 100%;
                    }
                }
            }

            .carouselP {
                color: black;
            }
        }
    }

    .marcas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        margin-top: 20px;

        h3 {
            margin-top: 15px;
        }

        a img {
            width: 150px;
            height: 100%;
            padding: 30px;
            cursor: pointer;
        }
    }

    .footer {

        @media (max-width: 575px) {
            justify-content: center;
            text-align: center;
        }

        .logoFooter {
            width: 75px;
            height: auto;
        }

        @media (max-width: 870px) {
            width: 100%;
            height: auto;
            justify-content: center;
            text-align: center;
            font-size: 12px;

            h5 {
                font-size: 15px;
            }
        }
    }

    .contenedorPadre {
        display: grid;
        grid-template-areas:
            "nav card card card card info"
            "nav card card card card info"
            "nav card card card card info"
            "nav card card card card info"
            "nav footer footer footer footer info";
        grid-template-columns: repeat(6, 2fr);
        grid-template-rows: repeat(5, auto);
        width: 100%;
        height: auto;
        margin: 0px;
        row-gap: 5px;
        column-gap: 10px;
        padding-top: 10px;

        .navProductos {
            grid-area: nav;

            .tituloProducto {
                font-weight: bold;
                padding-left: 15px;
            }

            .categorias {
                text-indent: 10px;
                padding-left: 15px;
            }

            .ulNavProductos {
                list-style: none;

                li {
                    text-indent: 20px;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }

        }

        .productos {
            grid-area: card;

            .row {
                div {
                    padding: 0px 10px 15px 10px;
                }
            }

            .card {
                div {
                    a {
                        background-color: crimson;
                    }

                    p {
                        font-size: 15px;
                    }

                    h3 {
                        display: flex;
                        font-size: 20px;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .footerProducto {
            grid-area: footer;
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;

            @media (max-width: 950px) {
                width: 100%;
                height: auto;
                justify-content: center;
                text-align: center;
                font-size: 12px;

                h5 {
                    font-size: 15px;
                }
            }

            .logoFooter {
                width: 75px;
                height: auto;
            }
        }
    }

    .comoComprar {
        display: flex;
        flex-flow: column nowrap;
        justify-self: center;
        align-items: center;
        padding: 20px;

        h2 {
            justify-self: start;
            padding-left: 50px;
        }

        .comoComprarContent {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            p {
                text-align: start;
                text-indent: 20px;
            }

            .imagenTutorial {
                height: 500px;
                width: 500px;

                @media (max-width: 600px) {
                    width: auto;
                    height: auto;
                }
            }

            .videoTutorial {
                padding: 10px;

                @media (max-width: 600px) {
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    .info {

        .infoContent {
            padding: 20px;

            .infoTitulo {
                padding: 15px 5px;
            }

            .nosotros {
                .h3Nosotros {
                    padding-left: 15px;
                }

                p {
                    text-indent: 40px;
                }
            }

            .guiaTalles {
                display: flex;
                flex-flow: column nowrap;

                .h3Guia {
                    padding-left: 15px;
                    text-align: start;
                }

                .guiaTexto {
                    text-indent: 40px;
                }

                .guiaArchivo {
                    text-align: center;
                }
            }

            .politicaDevoluciones {
                .h3Politica {
                    padding-left: 15px;
                    text-align: start;
                }

                .politicaTexto {
                    text-indent: 40px;
                }
            }
        }
    }

    .contactoContent {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 20px;

        .h3ContactoDiv {
            .h3Contacto {
                padding-left: 15px;
                text-align: start;
            }
        }

        .contactoForm {
            display: flex;
            flex-flow: column nowrap;
            padding-left: 40px;

            .formulario {
                align-items: center;
                text-align: start;
                justify-content: space-between;

                label {
                    border: 1px solid black;
                    border-radius: 0;
                    padding: 2px;
                }

                .inputContacto {
                    width: 200px;
                }
            }
        }
    }

    .contactoContentCarrito {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 20px;

        @media (max-width: 575px) {
            flex-flow: column nowrap;
            width: 100%;
            height: auto;
        }

        .column {
            display: flex;
            flex-flow: column nowrap;
            flex: 1;

            @media (max-width: 575px) {
                padding: 10px;
                text-align: center;
            }

            .contactoForm {
                display: flex;
                flex-flow: column nowrap;
                padding-left: 40px;
    
                .formulario {
                    align-items: center;
                    text-align: start;
                    justify-content: space-between;
    
                    label {
                        border: 1px solid black;
                        border-radius: 0;
                        padding: 2px;
                    }
    
                    .inputContacto {
                        width: 200px;
                    }
                }
            }
        }
    }
}